{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section class="address-bar-container">
    <div class="col-md-8 col-md-offset-2">
		<h4 class="col-sm-12">Enter a URL to Scrot:</h4>
		{% crispy form %}
    </div>
</section>
<h4 class="col-xs-12">Recently Snapped</h4>
<section class="recent-snapshots">
	{% for obj in object_list %}
	<div class="col-sm-6 col-xs-12 col-md-4">
		<div class="scrot-box">
			<img src="/media/{{ obj.img_small }}">
            <a href="{% url 'snapshot_detail' obj.id %}">
                <div class="overlay">
                    {{ obj.website.domain }}
                </div>
            </a>
		</div>
	</div>
	{% endfor %}
</section>
{% endblock %}
