{% extends 'base.html' %}
{% block content %}
	<h2>Recent Scrots</h2>
	<hr>
	<div class="row">
		{% for obj in object_list %}
		<div class="col-md-4 col-xs-12 col-sm-6">
            <div class="scrot-box">
                <a href="{% url 'website_detail' pk=obj.id %}">
                    <img src="/media/{{ obj.latest_snapshot.img_small }}">
                </a>
                <div class="scrot-metadata">
                    <a href="http://{{ obj.domain }}/">{{ obj.domain }}</a>
                </div>
				<div class="watch">
					{% if obj in request.user.watched_websites.all %}
					Watched
					{% else %}
					Watch
					{% endif %}
				</div>
            </div>
		</div>
		{% endfor %}
	</div>
{% endblock %}
